@import "./widgets.scss";

$font-color: red;
$font-base-size: 30px;
$font-family: "Monospace";
$main-color: blue;
$secondary-color: green;
$error-color: red;
$info-color: yellow;

.main {
    color: $main-color;
}