@import './func';
@import './vars';


* {
    font-size: $base-font-size;
    @include css-reset;
    
}

.main-content {
    color: palegoldenrod;
    padding: 10px;
}

section {
    &.content {
        padding: 15px;
        h1 {
            font-size: $header-font-size;
        }

        p {
            @extend .main-content;
            font-size:subheader-font-size($base-font-size);
            @include css-reset();
            padding: 5px;
        }
    }
}

//section.content h1 {font-size: 24px;}

